.app-sidebar-nav-item {
  width: 100%;
  border-radius: var(--radius-3);
  justify-content: flex-start;
  text-decoration: none;
  overflow: hidden;
  color: var(--gray-11);
  background: transparent;
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}

.app-sidebar-nav-item:hover {
  color: var(--gray-12);
  background: var(--theme-list-hover-background);
}

.app-sidebar-nav-item[data-active="true"] {
  color: var(--gray-12);
  background: var(--theme-hover-background);
}

.app-sidebar-action-button[data-accent-color="gray"] {
  color: var(--gray-11);
  background: transparent;
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}

.app-sidebar-action-button[data-accent-color="gray"]:hover {
  color: var(--gray-12);
  background: var(--theme-hover-background);
}

.app-sidebar-nav-link {
  width: 100%;
  text-decoration: none;
}

.app-sidebar-nav-item__icon-box {
}

.app-sidebar-nav-item__icon {
  flex-shrink: 0;
}

.app-sidebar-nav-item__label {
  white-space: nowrap;
  overflow: hidden;
}
